<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OFSER | My Request</title>
</head>
<body>
    <%- include('./partials/navbar_requester.ejs') %>

    <div class="content">
        <p id="content-title" style="margin-bottom: 15px;">My Request</p>
        <div class="request-tab">
            <div class="request-profile">
                <div class="image-canvas">
                    <img id="profile-img" src="" alt="profile_pic" width="200px">
                </div>
                <div class="request-info">
                    <p id="request-name"></p>
                    <p id="info_">Info</p>
                    <p id="request-email"></p>
                </div>
            </div>
            <div class="request-list">
                <div class="ticket-list">
                    <% let i = 1 %> 
                    <% ticket.forEach(t => { %>
                        <div class="ticket">
                            <p id="ticket-date"><%= t.createdAt.toLocaleDateString() %> </p>
                            <div class="line-dot">
                                <img src="/images/my-request/circle-hole.png" alt="circle" width="10px" height="10px">
                                <div class="line"></div>
                            </div>
                            <div class="ticket-bubble" data-ticket=<%= i %>>  
                                <img src="/images/service/<%= t.jenis_ticket %>.png" alt="jenis-atk" style="padding: 5px; background-color: white; border-radius: 10px;" alt="test" id="ticket-image">
                                <div class="ticket-text">
                                    <p id="ticket-type"><%= t.jenis_ticket %></p>
                                    <span class="req-id">REQUEST ID: </span><span class="req-id req"><%= t.request_id %></span><br>
                                    <div id="line-bubble"></div>
                                    <span style="font-weight: bold;" class="status">Status: </span><span class="status stat"><%= t.status %> </span>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal -->
                        <div id="myModal" class="modal <%= 'modal-'+i %>">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <span class="close <%= 'close-'+i %>">&times;</span>
                                </div>
                                <div class="modal-body">
                                    <div class="info-1">
                                        <img src="/images/service/<%= t.jenis_ticket %>.png" alt="jenis-atk" style="padding: 10px; background-color: white; border-radius: 10px; border: 1px solid black;" width="70px" height="70px">
                                        <div class="text-info-1">
                                            <p id="jenis-ticket-modal" style="font-weight: bold; font-size: 1.1em;"><%= t.jenis_ticket %> </p>
                                            <p style="font-size: 0.8em;">REQUEST ID: <%= t.request_id %> </p>
                                            <p style="font-size: 0.9em;">Status: <%= t.status %> </p>
                                        </div>
                                    </div>
                                    <div class="info-2">
                                        <div class="tab-1-info-2">
                                            <p style="font-size: 0.94em">Requested By:</p>
                                            <div class="req-info-2">
                                                <p style="font-size: 1em; font-weight: bold;"><%= t.nama_req %> </p>
                                                <p style="font-size: 0.8em;"><%= t.email %> </p>
                                            </div>
                                            <p style="font-size: 0.94em">Description:</p>
                                            <p style="font-size: 0.84em; margin: 10px 0px 10px 25px;" id="desc-req"><%= t.desc_req %></p>
                                        </div>
                                        <div class="tab-2-info-2">
                                            <button class="req-detail-button" style="font-weight: 400;">Request Details</button>
                                            <div class="req-detail-text" style="margin-bottom: 10px;">
                                                <table>
                                                    <tr><td>Submitted</td><td style="padding-left: 20px;">: <%= t.createdAt.toUTCString() %></td></tr>
                                                    <tr><td>Last Updated</td><td style="padding-left: 20px;">: <%= t.updatedAt.toUTCString() %></td></tr>
                                                    <tr><td>Requested By</td><td style="padding-left: 20px;">: <%= t.req_by %></td></tr>
                                                    <tr><td>Requested For</td><td style="padding-left: 20px;">: <%= t.req_for %></td></tr>
                                                    <tr><td>Company</td><td style="padding-left: 20px;">: <%= t.perusahaan %></td></tr>
                                                    <tr><td>Phone</td><td style="padding-left: 20px;">: <%= t.no_kontak %></td></tr>
                                                    <tr><td>Email</td><td style="padding-left: 20px;">: <%= t.email %></td></tr>
                                                    <tr><td>Building</td><td style="padding-left: 20px;">: <%= t.gedung %></td></tr>
                                                </table>
                                            </div>

                                            <button class="req-detail-button" style="font-weight: 400;">Activity List</button>
                                            <div class="req-detail-text-2">
                                                <input class="activity-notes" id="activity-note-request" data-ticket="<%= t._id %>" type="text" placeholder="Add a note" style="font-size: 0.9em;width: 380px; border-radius: 10px; height: 35px; padding: 10px;">
                                                <div class="activity-list-request">
                                                    <% t.activity.forEach(activity => { %>
                                                        <div class="activity-user-request">
                                                            <div class="msg-detail-request" style="border-bottom: 1px solid black; padding: 10px 10px;">
                                                                <p id="act-msg-request" style="font-size: 1em;"><%= activity.msg %></p>
                                                                <p style="font-size: 0.8em; margin-top: 8px;">By <%= activity.nama %></p>
                                                                <p id="act-date-request" style="font-size: 0.8em;"><%= activity.tgl %></p>
                                                            </div>
                                                        </div>  
                                                    <% }); %>
                                                </div>
                                            </div>

                                            <div class="btn-info-2">
                                                <button class="btn-cancel btn-cancel-<%= i %>" data-ticket="<%= t._id %>">Cancel Request</button>
                                                <button class="btn-print btn-print-<%= i %>" data-ticket="<%= t._id %>">Print Ticket</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% i = i+1 %>
                    <% }); %> 
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %> 

    <script src="/scripts/home/getCookies.js"></script>
    <script>
        document.querySelector('#request-name').textContent = nama
        document.querySelector('#request-email').textContent = email
        document.querySelector('#profile-img').src = "/images/profile/" + cookies.image
        document.querySelector('#profile_img').src = '/images/profile/'+cookies.image
        document.querySelector('#profile').href = `/profile/${id_user}`
    </script>
    <script src="/scripts/home/ticketModal.js"></script>
    <script src="/scripts/home/activityModal.js"></script>
    <script src="/scripts/home/printTicket.js"></script>
</body>
</html>