<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <title>OFSER | Home</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-1">
            <p>OFSER</p>
            <a href="/home-req">Dashboard</a>
            <a href="/ticket-console">Ticket Console</a>
            <div class="search-group">
                <input type="search" id="input-search" placeholder="Request ID"/>
                <button type="button" id="btn-search">Search</button>   
            </div>
        </div>
        <div class="navbar-2">
            <a href="#">Notification</a>
            <p>Welcome, <span id="user-name">Lucifer</span></p>
            <a href="#">Profile</a>
        </div>
    </div>

    <div class="content">
        <p id="content-title">Ticket Workorder</p>
        <p id="jenis_ticket" style="font-size: 1.5em; font-weight: bold;" data-ticket="<%= ticket._id %>"><%= ticket.jenis_ticket %> - Work Order</p>
        
        <div class="tab-group-req">
            <div class="req-tab">
                <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 15px; border-top: 1px solid black; padding: 15px 15px; border-bottom: 1px solid black;">
                    <div>
                        <table style="font-size: 0.93em;">
                            <tr><td>Work Order</td><td style="padding-left: 20px;">: <%= ticket.workorder_id %></td></tr>
                            <tr><td>Priority</td>
                                <td style="padding-left: 20px; display: flex; flex-direction: row; align-items: center; gap: 10px;">: 
                                    <select name="priority" id="priority">
                                        <% const priorityOptions = ["Not Set","Low", "Medium", "High", "Critical"]; %>
                                        <% for (const option of priorityOptions) { %>
                                            <option value="<%= option %>" <%= ticket.priority === option ? 'selected' : '' %>><%= option %></option>
                                        <% } %>
                                    </select>
                                </td>
                            </tr>
                            <tr><td>Assignee</td>
                                <td style="padding-left: 20px;">: 
                                    <select name="assignee" id="assignee" data-ticket="<%= ticket._id %>" value="<%= ticket.assignee %>">
                                        <option value='' selected disabled hidden>Pilih Assignee</option>
                                        <% fulfiller.forEach(user => { %>
                                            <% if(user.nama == ticket.assignee){ %>
                                                <option selected><%= user.nama %></option>
                                            <% }else{ %>
                                                <option><%= user.nama %></option>
                                            <% } %>     
                                        <% });%>
                                    </select>
                                </td>
                            </tr>
                            <tr><td>Status</td>
                                <td style="padding-left: 20px; display: flex; flex-direction: row; align-items: center; gap: 10px;">: 
                                    <select name="status" id="status">
                                        <% const statusOptions = ["Waiting Approval", "Assigned", "Pending", "In Progress", "Rejected"]; %>
                                        <% for (const option of statusOptions) { %>
                                            <option value="<%= option %>" <%= ticket.status === option ? 'selected' : '' %>><%= option %></option>
                                        <% } %>
                                    </select>
                                    <input id="progress_sla" type="range" min="0" max="<%= ticket_detail.sla %>" step="1" value="0" data-orientation="vertical">
                                    <% let date_sla = new Date() %>
                                    <% date_sla.setDate(ticket.createdAt.getDate() + ticket_detail.sla) %> 
                                    <span id="date_sla" style="font-size: 0.8em; display: none;" data-created="<%= ticket.createdAt %> ">SLA: <%= date_sla.toLocaleString().slice(0,-12) %></span>
                                </td>
                            </tr>
                            <tr><td>Ticket Created At</td><td style="padding-left: 20px;">: <%= ticket.createdAt.toUTCString().slice(5, -4) %></td></tr>
                        </table>
                    </div>
                </div>
                <div class="req-info">
                    <div class="req-detail">
                        <p style="margin-bottom: 10px;">Request Detail:</p>
                        <table>
                            <tr><td>Submitted</td><td style="padding-left: 20px;">: <%= ticket.createdAt.toUTCString() %></td></tr>
                            <tr><td>Last Updated</td><td style="padding-left: 20px;">: <%= ticket.updatedAt.toUTCString() %></td></tr>
                            <tr><td>Requested By</td><td style="padding-left: 20px;">: <%= ticket.req_by %></td></tr>
                            <tr><td>Requested For</td><td style="padding-left: 20px;">: <%= ticket.req_for %></td></tr>
                            <tr><td>Company</td><td style="padding-left: 20px;">: <%= ticket.perusahaan %></td></tr>
                            <tr><td>Phone</td><td style="padding-left: 20px;">: <%= ticket.no_kontak %></td></tr>
                            <tr><td>Email</td><td style="padding-left: 20px;">: <%= ticket.email %></td></tr>
                            <tr><td>Building</td><td style="padding-left: 20px;">: <%= ticket.gedung %></td></tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="activity-tab">
                <p style="font-size: 1.2em; font-weight: bold;">Activity</p>
                <input id="activity-note" type="text" placeholder="Add a note" style="font-size: 0.9em;width: 320px; border-radius: 10px; height: 35px; padding: 10px;">
                <div class="activity-list">
                    <% ticket.activity.forEach(activity => { %>
                        <div class="activity-user">
                            <img src="/images/profile/<%= activity.nama %>.png" onerror="this.src='/images/profile/default.png'" alt="profile" style="border-radius: 50px; height: 50px;">
                            <div class="msg-detail">
                                <p id="act-msg" style="font-size: 0.85em;"><%= activity.msg %></p>
                                <p style="font-size: 0.7em; margin-top: 8px;">By <%= activity.nama %></p>
                                <p id="act-date" style="font-size: 0.7em;"><%= activity.tgl %></p>
                            </div>
                        </div>  
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>Kontak Admin</p>
        <div>
            <p>Whatsapp: +62-85263422340</p>
            <p>Email: lyft0@protonmail.com</p>
        </div>
    </div>

    <script src="/scripts/home/getCookies.js"></script>
    <script src="/scripts/home/printTicket.js"></script>
    <script src="/scripts/home/updateWorkorder.js"></script>
    <script src="/scripts/home/activity.js"></script>
</body>
</html>